@model EndpointsViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid browser_connect_container">
    <div class="row browser_connect_header">
        <div class="browser_connect_header_text overflow">@Strings.BrowserSelectServer</div>
    </div>
    <div class="row browser_top_container">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row browser_select_connect_container">
                <form asp-controller="Endpoints" asp-action="Connect" data-ajax="true" data-ajax-method="POST" data-ajax-complete="onSuccess" data-ajax-failure="onFailure">
                    <div class="row browser_connect_selection_label">@Strings.BrowserPreconfiguredListLabel</div>
                    <div class="row browser_connect_selection_dropdown">
                        <select id="endpointUrlSelect" class="selectpicker form-control" name="endpointId" data-live-search="true" data-size="20"
                            asp-for="EndpointId" asp-items="@Model.PrepopulatedEndpoints">
                        </select>
                    </div>
                    <div class="row browser_browse_connect_button">
                        <input id="connectButton" class="btn btn-default btn_browser" type="submit" onclick="openConnectContextPanel();" value=@Strings.BrowserConnect>
                    </div>
                </form>
            </div>
        </div>
        <div id="browserImage" class="browser_image_container  col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <img class="img-responsive" src="~/img/packing_station.png" />
        </div>
    </div>
    <div id="connectContextpanel" class="overlay">
        <div class="dashboard_contextpanel_header">
            <div id="connectContextpanelHeader" class="dashboard_contextpanel_header_text">@Strings.BrowserSecurityWarning</div>
        </div>
        <a href="#" class="closebtn" onclick="closeConnectContextPanel();"><img class="dashboard-cancel-icon" src="~/img/cancel.svg" hidden></a>
        <div id="connectBodyContextPanel" class="browser_error_details_container">
            <div class="row browser_error_details_line_header">
                <span class="glyphicon glyphicon-alert"></span>
                <span class="browser_error_details_label">@Strings.BrowserTrustHeader</span>
            </div>
            <div class="row browser_error_details_line">
                <span class="browser_error_details_info_black">@Strings.BrowserTrust</span>
            </div>
        </div>
        <div id="errorContextPanel" class="overlay-content">
            <div class="browser_error_contextpanel_container">
                <span class="browser_error_contextpanel_header">@Strings.BrowserErrorMessage</span>
                <div id="errorHeader" class="browser_error_contextpanel_message"></div>
            </div>
        </div>
        <div id="waitingForConnect" class="browser_error_details_container">@Strings.BrowserConnecting</div>
        <div id="connectLoader" class="loader"></div>
        <div id="proceedButton" class="dashboard_contextpanel_select_filter_button">
            <form asp-controller="Endpoints" asp-action="ConnectWithTrust" data-ajax="true" data-ajax-method="POST" data-ajax-complete="onSuccess" data-ajax-failure="onFailure">
                @Html.HiddenFor(model => model.EndpointId, new { id = "hiddenEndpointUrl" })
                <input class="btn btn-default btn_dashboard_contextpanel" type="submit" onclick="connecting();" value="@Strings.BrowserTrustButton">
            </form>
        </div>
        <div id="cancelButton" class="dashboard_contextpanel_clear_filter_button">
            <form asp-controller="Endpoints" asp-action="Disconnect">
                <button class="btn btn-default btn_dashboard_contextpanel btn-cancel" type="submit" onclick="closeConnectContextPanel();">
                    <img class="dashboard-cancel-icon" src="~/img/cancelX.svg">
                    @Strings.BrowserDontTrustButton
                </button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#connectButton").prop("disabled", false);
        // initialize all context panels to default state closed
        $("#connectContextpanel").addClass("overlay-close").removeClass("overlay-right-open");
        $("#errorContextPanel").addClass("overlay-close").removeClass("overlay-right-open");
    });

    var disconnect = false;
    var title = "@Strings.TitleBrowser";

    function onSuccess(sessionModel) {
        $("#hiddenEndpointUrl").val(sessionModel.EndpointId);
        $("#connectLoader").hide();

        if (sessionModel.ErrorHeader == "@Strings.UntrustedCertificate") {
            $("#waitingForConnect").hide();
            $("#connectBodyContextPanel").show();
            $("#connectContextpanelHeader").html("@Strings.BrowserSecurityWarning");
            $("#errorContextPanel").hide();
            $("#proceedButton").show();
            $("#cancelButton").show();

        } else if (sessionModel.ErrorHeader != null) {
            $("#connectLoader").hide();
            $("#waitingForConnect").hide();
            $("#connectContextpanelHeader").html("@Strings.Error");
            $("#errorContextPanel").show();
            $("#errorHeader").html(sessionModel.ErrorHeader);
            $("#errorMessage").html(sessionModel.ErrorMessage);
            disconnect = true;
        }
        else {
            var baseUrl = '@Url.Content("~")';
            window.location.href = baseUrl + "Browse/Index";
        }
    }

    function onFailure(response) {
        $("#connectLoader").hide();
        $("#waitingForConnect").hide();
        $("#connectContextpanelHeader").html("@Strings.Error");
        $("#errorContextPanel").show();
        $("#errorHeader").html(sessionModel.ErrorHeader);
        $("#errorMessage").html(sessionModel.ErrorMessage);
        disconnect = true;
    }

    function openConnectContextPanel() {
        $("#connectBodyContextPanel").hide();
        $("#errorContextPanel").hide();
        $("#connectContextpanel").removeClass("overlay-close").addClass("overlay-right-open");
        $("#connectContextpanelHeader").html("@Strings.BrowserConnect");
        $("#proceedButton").hide();
        $("#cancelButton").hide();
        $("#waitingForConnect").show();
        $(".dashboard-cancel-icon").show();
        $(".dashboard_contextpanel_select_filter_button").css({ "margin-left": marginLeft });
    }

    $('form').submit(function () {
        $("#connectButton").prop("disabled", true);
    })

    function connecting() {
        $("#connectContextpanelHeader").html("@Strings.BrowserConnect");
        $("#connectBodyContextPanel").hide();
        $("#proceedButton").hide();
        $("#cancelButton").hide();
        $("#waitingForConnect").show();
        $("#connectLoader").show();
    }

    function closeConnectContextPanel() {
        $("#connectContextpanel").addClass("overlay-close").removeClass("overlay-right-open");

        if (disconnect == true) {
            $.post({
                url: "/Endpoints/Disconnect",
                data: { __RequestVerificationToken: $('[name=__RequestVerificationToken]').val(), backUrl: window.location.href },
                success: function onSuccess(response) {
                },
                error: function (response) {
                    console.error("error connecting to an OPC UA server: ", response.d, response.responseText);
                }
            });
        }
        $("#connectButton").prop("disabled", false);
        disconnect = false;
    }
</script>
