
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Data
@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.OpcUa.Api.Twin.Models;
@using Microsoft.Azure.IIoT.OpcUa.Api.Core.Models;
@using Microsoft.Azure.IIoT.App.Models

@inject NavigationManager NavigationManager
@inject Services.Browser BrowseManager

<div class="drawer-content list-group">
    <div class="list-group-item text-justify list-group-item-heading">
        <b>Select an action.</b>
        <br>
        <div class="dropdown">
            <div class="select">
                <select name="dropdown" @onchange="((eventArgs) => SelectActionAsync(NodeData.Id, eventArgs))">
                    <option value="@ActionType.Nothing">Select an action</option>
                    @if (NodeData.NodeClass == NodeClass.Variable)
                    {
                        if (NodeData.AccessLevel == NodeAccessLevel.CurrentRead)
                        {
                            <option value="@ActionType.Read">@ActionType.Read.ToString()</option>
                        }
                        if (NodeData.AccessLevel == NodeAccessLevel.CurrentWrite)
                        {
                            <option value="@ActionType.Write">@ActionType.Write.ToString()</option>
                        }
                        if (NodeData.AccessLevel == (NodeAccessLevel.CurrentRead | NodeAccessLevel.CurrentWrite))
                        {
                            <option value="@ActionType.Read">@ActionType.Read.ToString()</option>
                            <option value="@ActionType.Write">@ActionType.Write.ToString()</option>
                        }
                    }
                    else if (NodeData.NodeClass == NodeClass.Method)
                    {
                        <option value="@ActionType.Call">@ActionType.Call.ToString()</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <hr />
    <div class="list-group-item text-left">
        @if (_typeOfAction == ActionType.Read)
        {
            <div class="@_responseClass">
                <span>value = </span>
                <span>@_response</span>
            </div>
        }
        else if (_typeOfAction == ActionType.Write)
        {
            <form>
                <div class="form-group">
                    <label>Enter value</label>
                    <input @bind="@_value" aria-label="value" type="text" class="form-control" placeholder="value" />
                </div>
                <hr />
                <div>
                    <button @onclick="@(() => WriteAsync(NodeData.Id, _value))" type="button" class="btn btn-primary shadow-none">Apply</button>
                </div>
            </form>
            <div class="@_responseClass">@_response</div>
        }
        else if (_typeOfAction == ActionType.Call)
        {
            @if (_parameters != null)
            {
                <form>
                    @{int index = 0;}
                    @foreach (var parameter in _parameters.InputArguments)
                    {
                        //I need the local variable otherwise the bind ValueArray[index] has always the value at the end of the loop
                        int i = index;
                        <div class="form-group">
                            <label>@parameter.Type.DisplayName</label>
                            <input @bind="@_valueArray[i]" aria-label="value" type="text" class="form-control" placeholder="@parameter.Type.Description" />
                        </div>
                        index++;
                    }
                </form>
                <hr />
                <div>
                    <button @onclick="@(async() => await CallAsync(NodeData.Id, _valueArray))" type="button" class="btn btn-primary shadow-none">Apply</button>
                </div>
                <div class="@_responseClass">
                    @if (BrowseManager.MethodCallResponse != null)
                    {
                        <div>response = </div>
                        foreach (var response in BrowseManager.MethodCallResponse.Results)
                        {
                            <div>@response.Value (@response.DataType)</div>
                        }
                        <div>@_response</div>
                    }
                </div>
            }
            else
            {
                <div>@_response</div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public ListNode NodeData { get; set; }

    [Parameter]
    public string EndpointId { get; set; }

    [Parameter]
    public PagedResult<ListNode> PagedNodeList { get; set; } = new PagedResult<ListNode>();

    [Parameter]
    public CredentialModel Credential { get; set; }

    public enum ActionType { Nothing, Read, Write, Call, Publish };

    private string _response { get; set; } = string.Empty;
    private string _value { get; set; } = string.Empty;
    private string[] _valueArray { get; set; }
    private ActionType _typeOfAction { get; set; } = ActionType.Nothing;
    private MethodMetadataResponseApiModel _parameters;
    private string _responseClass = "list-group-item text-left margin body-action-content hidden";

    private async Task SelectActionAsync(string nodeId, ChangeEventArgs action)
    {
        switch (action.Value)
        {
            case "Read":
                _typeOfAction = ActionType.Read;
                await ReadAsync(nodeId);
                break;
            case "Write":
                _typeOfAction = ActionType.Write;
                break;
            case "Call":
                _typeOfAction = ActionType.Call;
                await ParameterAsync();
                break;
            default:
                break;
        }
    }

    private async Task ReadAsync(string nodeId)
    {
        _response = await BrowseManager.ReadValueAsync(EndpointId, nodeId, Credential);
        _responseClass = "list-group-item text-left margin body-action-content visible";
    }

    private async Task WriteAsync(string nodeId, string value)
    {
        _response = await BrowseManager.WriteValueAsync(EndpointId, nodeId, value, Credential);

        var newValue = await BrowseManager.ReadValueAsync(EndpointId, nodeId, Credential);
        var index = PagedNodeList.Results.IndexOf(PagedNodeList.Results.SingleOrDefault(x => x.Id == nodeId));
        PagedNodeList.Results[index].Value = newValue;
        _responseClass = "list-group-item margin body-action-content visible";
    }

    private async Task ParameterAsync()
    {
        _response = await BrowseManager.GetParameterAsync(EndpointId, NodeData.Id, Credential);
        _parameters = BrowseManager.Parameter;
        _valueArray = new string[_parameters.InputArguments.Count];
    }

    private async Task CallAsync(string nodeId, string[] values)
    {
        _response = await BrowseManager.MethodCallAsync(_parameters, values, EndpointId, NodeData.Id, Credential);
        _responseClass = "list-group-item margin body-action-content visible";
    }
}
