@*------------------------------------------------------------
  Copyright (c) Microsoft Corporation.  All rights reserved.
  Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
 ------------------------------------------------------------*@

@page "/browser/{applicationId}/{endpointId}"
@page "/browser/{discovererId}/{applicationId}/{supervisorId}/{endpointId}"

@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.Drawer
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using Microsoft.Azure.IIoT.App.Data
@using Microsoft.AspNetCore.Components
@using Microsoft.Azure.IIoT.OpcUa.Api.Twin.Models
@using Microsoft.Azure.IIoT.OpcUa.Api.Core.Models
@using System.Collections.Generic
@using Microsoft.Azure.IIoT.OpcUa.Api.Publisher
@using Microsoft.Azure.IIoT.OpcUa.Api.Publisher.Models
@using Microsoft.Azure.IIoT.App.Common
@using Microsoft.Azure.IIoT.App.Models
@using Microsoft.Azure.IIoT.App.Services.SecureData

@inject NavigationManager NavigationManager
@inject Services.Browser BrowseManager
@inject Services.Publisher Publisher
@inject PublisherServiceEvents PublisherServiceEvents
@inject Registry RegistryHelper
@inject UICommon CommonHelper
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject SecureData secureData

@implements IDisposable

<h1>Endpoint Control</h1>

<div>
    @if (DiscovererId != string.Empty && DiscovererId != RegistryHelper.PathAll)
    {
        <a href="/discoverers/">/ @DiscovererId</a>
    }
    @if (ApplicationId != string.Empty && ApplicationId != RegistryHelper.PathAll)
    {
        <a href="/applications/">/ @CommonHelper.ApplicationUri[ApplicationId]</a>
    }
    @if (SupervisorId != string.Empty && SupervisorId != RegistryHelper.PathAll)
    {
        <a href="/supervisors/">/ @SupervisorId</a>
    }

    @if (BrowseManager.Path != null)
    {
        var index = 0;
        foreach (var item in BrowseManager.Path)
        {
            int i = ++index;
            if (item.Equals(BrowseManager.Path.Last()))
            {
                <span>/ @item.ToString()</span>
            }
            else
            {
                <a href="javascript: void(0)" @onclick="@(() => GetTreeBackAsync(PagedNodeList.Results[0].NextParentId, PagedNodeList.Results[0].ParentIdList, i))">
                    / @item.ToString()
                </a>
            }
        }
    }
</div>

<table class="table @_tableView">
    <thead>
        <tr>
            <th>Name</th>
            <th>Node Id</th>
            <th>Node Type</th>
            <th>Value</th>
            <th>Publishing</th>
            <th>Publishing Config</th>
            <th>
                @if (PagedNodeList.Results.Count > 0)
                {
                    if (PagedNodeList.Results[0].ParentName != "Root")
                    {
                        <a href="javascript: void(0)" @onclick="@(() => GetTreeBackAsync(PagedNodeList.Results[0].NextParentId, PagedNodeList.Results[0].ParentIdList, PagedNodeList.Results[0].ParentIdList.Count - 1))">
                            <span class="oi oi-arrow-left"></span>
                        </a>
                    }
                    else
                    {
                        if (PagedNodeList.Results[0].DiscovererId != null)
                        {
                            <a href='endpoints/@PagedNodeList.Results[0].DiscovererId/@ApplicationId/@SupervisorId'>
                                <span class="oi oi-arrow-left"></span>
                            </a>
                        }
                    }
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var node in PagedNodeList.Results)
        {
            <tr>
                <td>@node.NodeName</td>
                <td>@node.Id</td>
                @if (node.Children && (node.NodeClass != NodeClass.Method))
                {
                    <td>
                        <a href="javascript: void(0)" @onclick="@(() => GetTreeAsync(node.Id, node.ParentIdList))">
                            @node.NodeClass
                        </a>
                    </td>
                }
                else if (node.NodeClass == NodeClass.Method)
                {
                    <td>
                        @{_drawerType = drawer.Action;}
                        <a href="javascript: void(0)" @onclick="@(() => OpenDrawer(node))">
                            @node.NodeClass
                        </a>
                    </td>
                }
                else
                {
                    <td>@node.NodeClass</td>
                }
                @if (node.NodeClass == NodeClass.Variable && (((node.AccessLevel & NodeAccessLevel.CurrentRead) == NodeAccessLevel.CurrentRead) ||
                    ((node.AccessLevel & NodeAccessLevel.CurrentWrite) == NodeAccessLevel.CurrentWrite)))
                {
                    <td>
                        <div class="td-fixed">
                            <a href="javascript: void(0)" @onclick="@(() => OpenDrawer(node))">
                                @{string outputValue = $"{node.Value}";}
                                @{string outputType = $"({node.DataType})";}
                                @{string outputStatus = $"({node.Status} -";}
                                @{string outputTimestamp = $" {node.Timestamp})";}
                                <span>@outputValue</span>
                                <span>@outputType</span>
                                <span>@outputStatus</span>
                                <span>@outputTimestamp</span>
                            </a>
                        </div>
                    </td>
                }
                else
                {
                    <td>N/A</td>
                }

                @if (node.NodeClass == NodeClass.Variable)
                {
                    <td>
                        <input type="checkbox" checked=@node.Publishing @onchange="@((EventArgs) => SetPublishingAsync(EndpointId, node, EventArgs))" />
                        @{string output = (node.Publishing == true) ? "On" : "Off";}
                        @output 
                    </td>
                    <td>
                        @{_drawerType = drawer.Publisher;}
                        @if (node.Publishing == true && node.PublishedItem != null)
                        {
                            <label>Sampling:</label><a href="javascript: void(0)" @onclick="@(() => OpenDrawer(node))">
                                @(node.PublishedItem.SamplingInterval?.TotalMilliseconds.ToString() ?? "1000") ms<br />
                            </a>
                            <label>Publishing: </label><a href="javascript: void(0)" @onclick="@(() => OpenDrawer(node))">
                                @(node.PublishedItem.PublishingInterval?.TotalMilliseconds.ToString() ?? "1000") ms<br />
                            </a>
                            <label>HeartBeat: </label><a href="jpavascript: void(0)" @onclick="@(() => OpenDrawer(node))">
                                @(node.PublishedItem.HeartbeatInterval == null ? "-" : node.PublishedItem.HeartbeatInterval?.TotalSeconds.ToString() + " sec")
                               <br />
                            </a>
                        }
                        else
                        {
                            <label>N/A</label>
                        }

                    </td>
                }
                else
                {
                    <td>N/A</td>
                    <td>N/A</td>
                }
            </tr>
        }
    </tbody>
</table>
<div class="@_tableEmpty center">No Nodes found.</div>

<ErrorMessage PageError="@PagedNodeList.Error" Status="@null"></ErrorMessage>

<Drawer HeaderText="Select Action" ObjectData="@NodeData" IsOpened="@IsOpened" CloseDrawer="@(() => CloseDrawer())">
    @if (_drawerType == drawer.Action)
    {
        <_DrawerActionContent NodeData="@NodeData" EndpointId="@EndpointId" PagedNodeList="@PagedNodeList" Credential="@Credential"></_DrawerActionContent>
    }
    else
    {
        <_DrawerPublisherContent NodeData="@NodeData" Onclick="((NodeData) => ClickHandler((ListNode)NodeData))"></_DrawerPublisherContent>
    }
</Drawer>

<Pager Result=@NodeList PageChanged=@(async(Page) => await PagerPageChanged(Page)) />

<div class="loader-pos @CommonHelper.Spinner"></div>


@code {

    [Parameter]
    public string DiscovererId { get; set; } = string.Empty;

    [Parameter]
    public string EndpointId { get; set; } = string.Empty;

    [Parameter]
    public string ApplicationId { get; set; } = string.Empty;

    [Parameter]
    public string SupervisorId { get; set; } = string.Empty;

    [Parameter]
    public string Page { get; set; } = "1";

    public PagedResult<ListNode> NodeList = new PagedResult<ListNode>();
    public PagedResult<ListNode> PagedNodeList = new PagedResult<ListNode>();
    public CredentialModel Credential = new CredentialModel();
    public bool IsOpened { get; set; } = false;
    public ListNode NodeData { get; set; }
    private IAsyncDisposable _publishEvent { get; set; }
    private string _tableView = "visible";
    private string _tableEmpty = "displayNone";
    private List<string> _parentId { get; set; }
    private enum drawer
    {
        Action = 0,
        Publisher
    }
    private drawer _drawerType { get; set; }


    /// <summary>
    /// Notify page change
    /// </summary>
    /// <param name="page"></param>
    public async Task PagerPageChanged(int page)
    {
        CommonHelper.Spinner = "loader-big";
        StateHasChanged();
        if (!string.IsNullOrEmpty(NodeList.ContinuationToken) && page > PagedNodeList.PageCount)
        {
            await BrowseTreeAsync(BrowseDirection.Forward, 0, false);
        }
        PagedNodeList = NodeList.GetPaged(page, CommonHelper.PageLength, null);
        foreach (var node in PagedNodeList.Results)
        {
            //fetch the actual value
            if (node.NodeClass == NodeClass.Variable)
            {
                node.Value = await BrowseManager.ReadValueAsync(EndpointId, node.Id, Credential);
            }
        }
        CommonHelper.Spinner = string.Empty;
        StateHasChanged();
    }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        CommonHelper.Spinner = "loader-big";
    }

    /// <summary>
    /// OnAfterRenderAsync
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Credential = await GetSecureItemAsync<CredentialModel>(CommonHelper.CredentialKey);
            await BrowseTreeAsync(BrowseDirection.Forward, 0, true, string.Empty, new List<string>());
            CommonHelper.Spinner = string.Empty;
            CommonHelper.CheckErrorOrEmpty<ListNode>(PagedNodeList, ref _tableView, ref _tableEmpty);
            StateHasChanged();
            _publishEvent = await PublisherServiceEvents.NodePublishSubscribeByEndpointAsync(EndpointId,
                samples => InvokeAsync(() => GetPublishedNodeData(samples)));
        }
    }

    /// <summary>
    /// Browse forward the tree nodes
    /// </summary>
    /// <param name="id"></param>
    /// <param name="parentId"></param>
    private async Task GetTreeAsync(string id, List<string> parentId)
    {
        await BrowseTreeAsync(BrowseDirection.Forward, 0, true, id, parentId);
    }

    /// <summary>
    /// Browse backward the tree nodes
    /// </summary>
    /// <param name="id"></param>
    /// <param name="parentId"></param>
    private async Task GetTreeBackAsync(string id, List<string> parentId, int index)
    {
        await BrowseTreeAsync(BrowseDirection.Backward, index, true, id, parentId);
        NavigationManager.NavigateTo(NavigationManager.BaseUri + "browser/" + DiscovererId + "/" + ApplicationId + "/" + SupervisorId + "/" + EndpointId);
    }

    /// <summary>
    /// Browse the tree nodes
    /// </summary>
    /// <param name="id"></param>
    /// <param name="parentId"></param>
    /// <param name="direction"></param>
    private async Task BrowseTreeAsync(BrowseDirection direction, int index, bool firstPage, String id = null, List<string> parentId = null)
    {
        CommonHelper.Spinner = "loader-big";

        if (firstPage)
        {
            _parentId = parentId;
            NodeList = await BrowseManager.GetTreeAsync(EndpointId,
                                        id,
                                        parentId,
                                        DiscovererId,
                                        direction,
                                        index,
                                        Credential);
        }
        else
        {
            NodeList = await BrowseManager.GetTreeNextAsync(EndpointId,
                                            _parentId,
                                            DiscovererId,
                                            Credential,
                                            NodeList);
        }

        var publishedNodes = await Publisher.PublishedAsync(EndpointId);

        foreach (var node in NodeList.Results)
        {
            if (node.NodeClass == NodeClass.Variable)
            {
                // check if publishing enabled
                foreach (var publishedItem in publishedNodes.Results)
                {
                    if (node.Id == publishedItem.NodeId)
                    {
                        node.PublishedItem = publishedItem;
                        node.Publishing = true;
                        break;
                    }
                }
            }
        }

        Page = "1";
        PagedNodeList = NodeList.GetPaged(Int32.Parse(Page), CommonHelper.PageLength, NodeList.Error);
        CommonHelper.Spinner = "";
    }

    /// <summary>
    /// Manage Publishing a node
    /// </summary>
    /// <param name="endpointId"></param>
    /// <param name="node"></param>
    private async Task SetPublishingAsync(string endpointId, ListNode node, ChangeEventArgs ev)
    {
        if ((bool)ev?.Value)
        {
            await PublishNodeAsync(endpointId, node);
        }
        else
        {
            await UnPublishNodeAsync(endpointId, node);
        }
    }

    /// <summary>
    /// Publish a node
    /// </summary>
    /// <param name="endpointId"></param>
    /// <param name="node"></param>
    private async Task PublishNodeAsync(string endpointId, ListNode node)
    {
        node.Publishing = true;
        var publishingInterval = node.PublishedItem?.PublishingInterval == null ? TimeSpan.FromMilliseconds(1000) : node.PublishedItem.PublishingInterval;
        var samplingInterval = node.PublishedItem?.SamplingInterval == null ? TimeSpan.FromMilliseconds(1000) : node.PublishedItem.SamplingInterval;
        var heartbeatInterval = node.PublishedItem?.HeartbeatInterval;
        var result = await Publisher.StartPublishingAsync(endpointId, node.Id, node.NodeName, samplingInterval, publishingInterval, heartbeatInterval, Credential);
        if (result)
        {
            node.PublishedItem = new OpcUa.Api.Publisher.Models.PublishedItemApiModel()
            {
                NodeId = node.Id,
                DisplayName = node.NodeName,
                PublishingInterval = publishingInterval,
                SamplingInterval = samplingInterval,
                HeartbeatInterval = heartbeatInterval
            };
        }
        else
        {
            node.PublishedItem = null;
            node.Publishing = false;
        }
    }

    /// <summary>
    /// UnPublish a node
    /// </summary>
    /// <param name="endpointId"></param>
    /// <param name="node"></param>
    private async Task UnPublishNodeAsync(string endpointId, ListNode node)
    {
        var result = await Publisher.StopPublishingAsync(endpointId, node.Id, Credential);
        if (result)
        {
            node.PublishedItem = null;
            node.Publishing = false;
        }
    }

    /// <summary>
    /// Open the Drawer
    /// </summary>
    /// <param name="node"></param>
    private void OpenDrawer(ListNode node)
    {
        IsOpened = true;
        NodeData = node;
    }

    /// <summary>
    /// Close the Drawer
    /// </summary>
    private void CloseDrawer()
    {
        IsOpened = false;
        BrowseManager.MethodCallResponse = null;
        this.StateHasChanged();
    }

    /// <summary>
    /// GetPublishedNodeData
    /// </summary>
    /// <param name="samples"></param>
    private Task GetPublishedNodeData(MonitoredItemMessageApiModel samples)
    {
        foreach (var node in PagedNodeList.Results)
        {
            if (node.Id == samples.NodeId)
            {
                node.Value = samples.Value?.ToJson()?.TrimQuotes();
                node.Status = string.IsNullOrEmpty(samples.Status) ? "Good" : samples.Status;
                node.Timestamp = samples.Timestamp.Value.ToLocalTime().ToString();
                this.StateHasChanged();
            }
        }
        return Task.CompletedTask;
    }

    /// <summary>
    /// ClickHandler
    /// </summary>
    async Task ClickHandler(ListNode node)
    {
        CloseDrawer();
        await PublishNodeAsync(EndpointId, node);
    }

    /// <summary>
    /// Dispose
    /// </summary>
    public async void Dispose()
    {
        if (_publishEvent != null)
        {
            await _publishEvent.DisposeAsync();
        }
    }

    /// <summary>
    /// Get Item stored in session storage
    /// </summary>
    /// <param name="key"></param>
    private async Task<T> GetSecureItemAsync<T>(string key)
    {
        var serializedProtectedData = await sessionStorage.GetItemAsync<string>(key);
        return secureData.UnprotectDeserialize<T>(serializedProtectedData);
    }
}