@page "/endpoints"
@page "/endpoints/{page}"
@page "/endpoints/{discovererId}/{applicationId}"
@page "/endpoints/{discovererId}/{applicationId}/{page}"

@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using Microsoft.Azure.IIoT.App.Data
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry.Models;
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry;

@inject NavigationManager NavigationManager
@inject IRegistryServiceApi RegistryService
@inject Registry RegistryHelper

<h1>Endpoints</h1>

<div>
    @{ string discover = DiscovererId == RegistryHelper.PathAll ? string.Empty : DiscovererId; }
    @discover
</div>

<table class="table">
    <thead>
        <tr>
            <th>Endpoint Url</th>
            <th>Security Mode</th>
            <th>Security Policy</th>
            <th>Security Level</th>
            <th>Activation Status</th>
            <th>
                @if ((DiscovererId != null) && (DiscovererId != @RegistryHelper.PathAll))
                {
                    <a href="/discoverers/">
                        <span class="oi oi-arrow-left"></span>
                    </a>
                }
                else if ((ApplicationId != null) && (ApplicationId != @RegistryHelper.PathAll))
                {
                    <a href="/applications/">
                        <span class="oi oi-arrow-left"></span>
                    </a>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var endpoint in _pagedendpointList.Results)
        {
            <tr>
                @if (endpoint.ActivationState == EndpointActivationState.ActivatedAndConnected ||
                    endpoint.ActivationState == EndpointActivationState.Activated)
                {
                    <td>
                        @{ discover = DiscovererId == null ? RegistryHelper.PathAll : DiscovererId; }
                        @{ string application = ApplicationId == null ? RegistryHelper.PathAll : ApplicationId; }
                        <a href='browser/@discover/@application/@endpoint.Registration.Id'>
                            @endpoint.Registration.Endpoint.Url
                        </a>
                    </td>
                }
                else
                {
                    <td>@endpoint.Registration.Endpoint.Url</td>
                }
                <td>@endpoint.Registration.Endpoint.SecurityMode</td>
                <td>@endpoint.Registration.Endpoint.SecurityPolicy</td>
                <td>@endpoint.Registration.SecurityLevel</td>

                <td>
                    @if (endpoint.ActivationState == EndpointActivationState.ActivatedAndConnected ||
                       endpoint.ActivationState == EndpointActivationState.Activated)
                    {
                        <input type="checkbox" checked
                               @onchange="async eventArgs => { await SetActivation(endpoint.Registration.Id, eventArgs.Value); }" />
                        @endpoint.ActivationState.ToString()
                    }
                    else
                    {
                        <input type="checkbox"
                               @onchange="async eventArgs => { await SetActivation(endpoint.Registration.Id, eventArgs.Value); }" />
                        @endpoint.ActivationState.ToString()
                    }

                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<div class="loader-pos @_spinner"></div>

<ErrorMessage PageError="@_pagedendpointList.Error" Status="@Status"></ErrorMessage>

<Pager Result=@_endpointList PageChanged=@((Page) => PagerPageChanged(Page)) />

@code {

    [Parameter]
    public string Page { get; set; } = "1";

    [Parameter]
    public string DiscovererId { get; set; } = string.Empty;

    [Parameter]
    public string ApplicationId { get; set; } = string.Empty;

    public const int PageLength = 10;
    public string Status { get; set; }
    private PagedResult<EndpointInfoApiModel> _endpointList =
        new PagedResult<EndpointInfoApiModel>();
    private PagedResult<EndpointInfoApiModel> _pagedendpointList =
        new PagedResult<EndpointInfoApiModel>();
    private string _spinner { get; set; }

    /// <summary>
    /// Notify page change
    /// </summary>
    /// <param name="page"></param>
    public void PagerPageChanged(int page)
    {
        _pagedendpointList = _endpointList.GetPaged(page, PageLength, null);
        NavigationManager.NavigateTo("/endpoints/" + page);
    }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        _spinner = "loader-big";
    }

    /// <summary>
    /// OnAfterRenderAsync
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _endpointList = await RegistryHelper.GetEndpointListAsync(DiscovererId, ApplicationId);
            Page = "1";
            _pagedendpointList = _endpointList.GetPaged(Int32.Parse(Page), PageLength, _endpointList.Error);
            _spinner = "";
            StateHasChanged();
        }
    }

    /// <summary>
    /// Activate or deactivate an endpoint
    /// </summary>
    /// <param name="endpointId"></param>
    /// <param name="checkedValue"></param>
    /// <returns></returns>
    private async Task SetActivation(string endpointId, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            try
            {
                await RegistryService.ActivateEndpointAsync(endpointId);
            }
            catch (Exception e)
            {
                Status = e.Message;
            }
        }
        else
        {
            try
            {
                await RegistryService.DeactivateEndpointAsync(endpointId);
            }
            catch (Exception e)
            {
                Status = e.Message;
            }
        }

        _endpointList = await RegistryHelper.GetEndpointListAsync(DiscovererId, ApplicationId);
        _pagedendpointList = _endpointList.GetPaged(Int32.Parse(Page), PageLength, _endpointList.Error);
        await Task.CompletedTask;
        this.StateHasChanged();
    }
}
