@page "/endpoints"
@page "/endpoints/{discovererId}/{applicationId}/{supervisorId}/{applicationUri}"

@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using Microsoft.Azure.IIoT.App.Data
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry.Models;
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry;
@using Microsoft.Azure.IIoT.App.Models;
@using Microsoft.Azure.IIoT.App.Common

@inject NavigationManager NavigationManager
@inject IRegistryServiceApi RegistryService
@inject RegistryServiceEvents RegistryServiceEvents
@inject Registry RegistryHelper
@inject UICommon CommonHelper

<h1>Endpoints</h1>

<div>
    @{ string discover = DiscovererId == RegistryHelper.PathAll ? string.Empty : DiscovererId; }
</div>

<table class="table @_tableView">
    <thead>
        <tr>
            <th>Endpoint Url</th>
            <th>Security Mode</th>
            <th>Security Policy</th>
            <th>Security Level</th>
            <th>Endpoint State</th>
            <th>Activation Status</th>
            <th>
                @if ((DiscovererId != null) && (DiscovererId != @RegistryHelper.PathAll))
                {
                    <a href="/discoverers/">
                        <span class="oi oi-arrow-left"></span>
                    </a>
                }
                else if ((ApplicationId != null) && (ApplicationId != @RegistryHelper.PathAll))
                {
                    <a href="/applications/">
                        <span class="oi oi-arrow-left"></span>
                    </a>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var endpoint in _pagedendpointList.Results)
        {
            <tr>
                @if (endpoint.EndpointModel.EndpointState == EndpointConnectivityState.Ready ||
                     endpoint.EndpointModel.EndpointState == EndpointConnectivityState.Unauthorized)
                {
                    <td>
                        @{ discover = DiscovererId == null ? RegistryHelper.PathAll : DiscovererId; }
                        @{ string application = ApplicationId == null ? RegistryHelper.PathAll : ApplicationId; }
                        @{ string supervisor = SupervisorId == null ? RegistryHelper.PathAll : SupervisorId; }
                        @{ string applicationUri = ApplicationUri == null ? RegistryHelper.PathAll : ApplicationUri; }
                        <a href='browser/@discover/@application/@supervisor/@endpoint.EndpointModel.Registration.Id/@applicationUri'>
                            @endpoint.EndpointModel.Registration.Endpoint.Url
                        </a>
                    </td>
                }
                else
                {
                    <td>@endpoint.EndpointModel.Registration.Endpoint.Url</td>
                }
                <td>@endpoint.EndpointModel.Registration.Endpoint.SecurityMode</td>
                <td>@endpoint.EndpointModel.Registration.Endpoint.SecurityPolicy</td>
                <td>@endpoint.EndpointModel.Registration.SecurityLevel</td>
                <td>@(endpoint.EndpointModel.EndpointState?.ToString() ?? "Disconnected")</td>
                <td>
                    @if (endpoint.EndpointModel.ActivationState == EndpointActivationState.ActivatedAndConnected ||
                     endpoint.EndpointModel.ActivationState == EndpointActivationState.Activated)
                    {
                        <input type="checkbox" checked
                               @onchange="async eventArgs => { await SetActivation(endpoint.EndpointModel.Registration.Id, eventArgs.Value); }" />
                        @endpoint.EndpointModel.ActivationState.ToString()
                    }
                    else
                    {
                        <input type="checkbox"
                               @onchange="async eventArgs => { await SetActivation(endpoint.EndpointModel.Registration.Id, eventArgs.Value); }" />
                        @endpoint.EndpointModel.ActivationState.ToString()
                    }
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

<ErrorMessage PageError="@_pagedendpointList.Error" Status="@Status"></ErrorMessage>

<Pager Result=@_endpointList PageChanged=@(async(Page) => await PagerPageChanged(Page)) />

<div class="loader-pos @CommonHelper.Spinner"></div>

@code {

    [Parameter]
    public string Page { get; set; } = "1";

    [Parameter]
    public string DiscovererId { get; set; } = string.Empty;

    [Parameter]
    public string ApplicationId { get; set; } = string.Empty;

    [Parameter]
    public string SupervisorId { get; set; } = string.Empty;

    [Parameter]
    public string ApplicationUri { get; set; } = string.Empty;

    public string Status { get; set; }
    private PagedResult<EndpointInfo> _endpointList =
        new PagedResult<EndpointInfo>();
    private PagedResult<EndpointInfo> _pagedendpointList =
        new PagedResult<EndpointInfo>();
    private string _tableView { get; set; } = "visible";
    private IAsyncDisposable _endpointEvents { get; set; }

    /// <summary>
    /// Notify page change
    /// </summary>
    /// <param name="page"></param>
    public async Task PagerPageChanged(int page)
    {
        CommonHelper.Spinner = "loader-big";
        StateHasChanged();
        if (!string.IsNullOrEmpty(_endpointList.ContinuationToken) && page > _pagedendpointList.PageCount)
        {
            _endpointList = await RegistryHelper.GetEndpointListAsync(DiscovererId, ApplicationId, SupervisorId, _endpointList);
        }
        _pagedendpointList = _endpointList.GetPaged(page, CommonHelper.PageLength, null);
        CommonHelper.Spinner = string.Empty;
        StateHasChanged();
    }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        CommonHelper.Spinner = "loader-big";
    }

    /// <summary>
    /// OnAfterRenderAsync
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _endpointList = await RegistryHelper.GetEndpointListAsync(DiscovererId, ApplicationId, SupervisorId);
            Page = "1";
            _pagedendpointList = _endpointList.GetPaged(Int32.Parse(Page), CommonHelper.PageLength, _endpointList.Error);
            CommonHelper.Spinner = string.Empty;
            if (_pagedendpointList.Error != null)
            {
                _tableView = "hidden";
            }
            StateHasChanged();

            _endpointEvents = await RegistryServiceEvents.SubscribeEndpointEventsAsync(
                ev => InvokeAsync(() => EndpointEvent(ev)));
        }
    }

    private Task EndpointEvent(EndpointEventApiModel ev)
    {
        _endpointList.Results.Update(ev);
        _pagedendpointList = _endpointList.GetPaged(Int32.Parse(Page), CommonHelper.PageLength, _endpointList.Error);
        StateHasChanged();
        return Task.CompletedTask;
    }

    public async void Dispose()
    {
        if (_endpointEvents != null)
        {
            await _endpointEvents.DisposeAsync();
        }
    }

    /// <summary>
    /// Activate or deactivate an endpoint
    /// </summary>
    /// <param name="endpointId"></param>
    /// <param name="checkedValue"></param>
    /// <returns></returns>
    private async Task SetActivation(string endpointId, object checkedValue)
    {
        if ((bool)checkedValue)
        {
            try
            {
                await RegistryService.ActivateEndpointAsync(endpointId);
            }
            catch (Exception e)
            {
                Status = e.Message;
            }
        }
        else
        {
            try
            {
                await RegistryService.DeactivateEndpointAsync(endpointId);
            }
            catch (Exception e)
            {
                Status = e.Message;
            }
        }
    }
}
