@*------------------------------------------------------------
     Copyright (c) Microsoft Corporation.  All rights reserved.
     Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
    ------------------------------------------------------------*@

@page "/gateways/{page}"

@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry;
@using Microsoft.Azure.IIoT.App.Common

@inject NavigationManager NavigationManager
@inject Registry RegistryHelper
@inject IRegistryServiceApi RegistryService
@inject RegistryServiceEvents RegistryServiceEvents
@inject UICommon CommonHelper

@implements IDisposable

<h1>Gateways</h1>

<table class="table table-responsive @_tableView">
    <thead>
        <tr>
            <th class="width-x-large">Id</th>
            <th class="width-large">Site Id</th>
            <th class="width-large">Connection Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gateway in _pagedGatewayList.Results) {
            <tr>
                <td class="hover-text width-x-large">
                    <div>
                        @gateway.Id
                    </div>
                </td>
                <td class="hover-text width-large">
                    <div>
                        @(string.IsNullOrEmpty(gateway.SiteId)
                            ? CommonHelper.None
                            : gateway.SiteId)
                    </div>
                </td>
                @{string connectStatus = gateway.Connected == null
                    ? CommonHelper.None
                    : gateway.Connected == true
                        ? "Connected"
                        : "Disconnected";}
                <td class="hover-text width-large">
                    <div>
                        @{
                            string alt = connectStatus;

                            switch (connectStatus)
                            {
                                case "Connected":
                                    <i class="material-icons" title="@alt" aria-label="@alt">link</i>
                                    break;
                                case "Disconnected":
                                case "(None)":
                                    <i class="material-icons" title="@alt" aria-label="@alt">link_off</i>
                                    break;
                                default:
                                    <i class="material-icons" title="@alt" aria-label="@alt">help</i>
                                    break;
                            }
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="@_tableEmpty center">No Gateways found.</div>

<ErrorMessage PageError="@_pagedGatewayList.Error" Status="@null"></ErrorMessage>

<Pager Result=@GatewayList PageChanged="@(async(Page) => await PagerPageChangedAsync(Page))" />

<div class="loader-pos @CommonHelper.Spinner"></div>