@*------------------------------------------------------------
     Copyright (c) Microsoft Corporation.  All rights reserved.
     Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
    ------------------------------------------------------------*@

@page "/PublishedNodes/{page}/{endpointId}"
@page "/PublishedNodes/{page}/{endpointId}/{discovererId}/{applicationId}/{supervisorId}"

@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using Microsoft.Azure.IIoT.App.Common
@using Microsoft.Azure.IIoT.OpcUa.Api.Publisher


@inject NavigationManager NavigationManager
@inject Publisher PublisherHelper
@inject UICommon CommonHelper
@inject Registry RegistryHelper
@inject PublisherServiceEvents PublisherServiceEvents

<h1>Published Nodes</h1>

<table class="table table-responsive @_tableView">
    <thead>
        <tr>
            <th class="width-large">Node Id</th>
            <th class="width-large">Display Name</th>
            <th class="width-small">Publishing Interval</th>
            <th class="width-small">Sampling Interval</th>
            <th class="width-small">Heartbeat Interval</th>
            <th class="width-medium-large">Value</th>
            @if (IsIdGiven(DiscovererId) && IsIdGiven(ApplicationId) && IsIdGiven(SupervisorId)) {
                <th class="width-xsmall">
                    @{var link = @NavigationManager.BaseUri + "endpoints/1/" + @DiscovererId + "/" + @ApplicationId + "/" + @SupervisorId;}
                    <a href="@link"><span class="oi oi-arrow-left"></span></a>
                </th>
            }
            else {
                <th class="width-xsmall">
                    @{var link = @NavigationManager.BaseUri + "endpoints/1";}
                    <a href="@link"><span class="oi oi-arrow-left"></span></a>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var node in PagedNodeList.Results) {
            <tr>
                <td class="hover-text width-large">
                    <div>
                        @(string.IsNullOrEmpty(node.PublishedItem.NodeId)
                            ? CommonHelper.None
                            : node.PublishedItem.NodeId)
                    </div>
                </td>
                <td class="hover-text width-medium-large">
                    <div>
                        @(string.IsNullOrEmpty(node.PublishedItem.DisplayName)
                            ? CommonHelper.None
                            : node.PublishedItem.DisplayName)
                    </div>
                </td>
                <td class="hover-text width-small">
                    <div>
                        @(node.PublishedItem.PublishingInterval.HasValue && node.PublishedItem.PublishingInterval.Value != TimeSpan.MinValue
                            ? node.PublishedItem.PublishingInterval.Value.TotalMilliseconds.ToString()
                            : CommonHelper.None)
                    </div>
                </td>
                <td class="hover-text width-small">
                    <div>
                        @(node.PublishedItem.SamplingInterval.HasValue && node.PublishedItem.SamplingInterval.Value != TimeSpan.MinValue
                            ? node.PublishedItem.SamplingInterval.Value.TotalMilliseconds.ToString()
                            : CommonHelper.None)
                    </div>
                </td>
                <td class="hover-text width-small">
                    <div>
                        @(node.PublishedItem.HeartbeatInterval.HasValue && node.PublishedItem.HeartbeatInterval.Value != TimeSpan.MinValue
                            ? node.PublishedItem.HeartbeatInterval.Value.Seconds.ToString()
                            : CommonHelper.None)
                    </div>
                </td>
                <td class="width-medium-large">
                    <div class="value-scroll">
                        <span>@node.Value</span>
                        <span>(@node.DataType)</span>
                        <span>(@node.Status -</span>
                        <span>@node.Timestamp)</span>
                    </div>
                </td>
                <td></td>
            </tr>
        }
    </tbody>
</table>
<div class="@_tableEmpty center">No published nodes found for this endpoint.</div>

<ErrorMessage PageError="@PagedNodeList.Error" Status="@Status"></ErrorMessage>

<Pager Result=@NodeList PageChanged=@(async(Page) => await PagerPageChangedAsync(Page)) />

<div class="loader-pos @CommonHelper.Spinner"></div>