@*------------------------------------------------------------
     Copyright (c) Microsoft Corporation.  All rights reserved.
     Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
    ------------------------------------------------------------*@

@page "/publishers/{page}"

@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Drawer
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using global::Azure.IIoT.OpcUa.Services.Sdk.Clients;
@using global::Azure.IIoT.OpcUa.Services.Sdk;

@inject NavigationManager NavigationManager
@inject Registry RegistryHelper
@inject IRegistryServiceApi RegistryService
@inject RegistryServiceEvents RegistryServiceEvents
@inject UICommon CommonHelper

@implements IAsyncDisposable

<h1>Publishers</h1>

<table class="table table-responsive @_tableView">
    <thead>
        <tr>
            <th class="width-large">Id</th>
            <th class="width-large">Configuration</th>
            <th class="width-medium">Site Id</th>
            <th class="width-small">Sync Status</th>
            <th class="width-small">Connection Status</th>
            <th class="width-small">Version</th>
        </tr>
    </thead>
</table>
<div class="@_tableEmpty center">No Publishers found.</div>

<ErrorMessage PageError="@_pagedPublisherList.Error" Status="@null"></ErrorMessage>

<Pager Result=@PublisherList PageChanged="@(async(Page) => await PagerPageChangedAsync(Page))" />

<div class="loader-pos @CommonHelper.Spinner"></div>