@*------------------------------------------------------------
     Copyright (c) Microsoft Corporation.  All rights reserved.
     Licensed under the MIT License (MIT). See License.txt in the repo root for license information.
    ------------------------------------------------------------*@

@page "/supervisors"
@page "/supervisors/{page}"

@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.Drawer
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry
@using Microsoft.Azure.IIoT.App.Common

@inject NavigationManager NavigationManager
@inject Registry RegistryHelper
@inject IRegistryServiceApi RegistryService
@inject RegistryServiceEvents RegistryServiceEvents
@inject UICommon CommonHelper

@implements IDisposable

<h1>Twin Modules</h1>

<table class="table table-responsive @_tableView">
    <thead>
        <tr>
            <th class="width-large">Id</th>
            <th class="width-medium">Site Id</th>
            <th class="width-medium">Connection Status</th>
            <th class="width-medium">Sync Status</th>
            <th class="width-small">Version</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supervisor in _pagedSupervisorList.Results) {
            <tr>
                <td class="hover-text width-large">
                    <div>
                        <a href='endpoints/1/@RegistryHelper.PathAll/@RegistryHelper.PathAll/@supervisor.Id'>
                            @supervisor.Id
                        </a>
                    </div>
                </td>
                <td class="hover-text width-medium">
                    <div>
                        @(string.IsNullOrEmpty(supervisor.SiteId)
                            ? CommonHelper.None
                            : supervisor.SiteId)
                    </div>
                </td>
                @{string connectStatus = supervisor.Connected == null
                    ? CommonHelper.None
                    : supervisor.Connected == true
                        ? "Connected"
                        : "Disconnected";}
                <td class="hover-text width-medium">
                    <div>
                        @{
                            string alt = connectStatus;

                            switch (connectStatus)
                            {
                                case "Connected":
                                    <i class="material-icons" title="@alt" aria-label="@alt">link</i>
                                    break;
                                case "Disconnected":
                                case "(None)":
                                    <i class="material-icons" title="@alt" aria-label="@alt">link_off</i>
                                    break;
                                default:
                                    <i class="material-icons" title="@alt" aria-label="@alt">help</i>
                                    break;
                            }
                        }
                    </div>
                </td>
                @{string syncStatus = supervisor.OutOfSync == null
                    ? CommonHelper.None
                    : supervisor.OutOfSync == true
                        ? "Out of Sync"
                        : "Synced";}
                <td class="hover-text width-medium">
                    <div>
                        @syncStatus
                    </div>
                </td>
                <td class="hover-text width-small">
                    <div>
                        @supervisor.Version
                    </div>
                </td>
                <td>
                    <a class="ellipsis-space" href="javascript: void(0)" @onclick="@(() => OpenDrawer(supervisor.Id))">More Data</a>
                </td>
                <td>
                    <button @onclick="@(() => ResetSupervisorUIAsync(supervisor.Id))" class="btn btn-primary">Reset</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="@_tableEmpty center">No Twin Modules found.</div>

<Drawer HeaderText="Twin Module Status" ObjectData="@SupervisorId" IsOpen="@IsOpen" CloseDrawer="@(() => CloseDrawer())">
    <_DrawerSupervisorContent SupervisorId="@SupervisorId"></_DrawerSupervisorContent>
</Drawer>

<ErrorMessage PageError="@_pagedSupervisorList.Error" Status="@null"></ErrorMessage>

<Pager Result=@SupervisorList PageChanged="@(async(Page) => await PagerPageChangedAsync(Page))" />

<div class="loader-pos @CommonHelper.Spinner"></div>