@page "/supervisors"
@page "/supervisors/{page}"

@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.Drawer
@using Microsoft.Azure.IIoT.App.Data
@using Microsoft.AspNetCore.Components
@using Microsoft.Azure.IIoT.Http.SignalR
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry.Models


@inject NavigationManager NavigationManager
@inject Registry RegistryHelper
@inject RegistryServiceEvents RegistryServiceEvents
@inject SignalRClient SignalRClientHelper

<h1>Supervisor</h1>

<table class="table">
    <thead>
        <tr>
            <th>SupervisorId</th>
            <th>ConnectionStatus</th>
            <th>ScanStatus</th>
            <th>ScanMask</th>
            <th>PortRange</th>
        </tr>
    </thead>
    <tbody>
        @{string connectStatus = "Disconnected"; }
        @foreach (var supervisor in pagedSupervisorList.Results)
        {
            <tr>
                @if (supervisor.HasApplication == true)
                {
                    <td>
                        <a href='endpoints/@supervisor.SupervisorModel.Id'>
                            @supervisor.SupervisorModel.Id
                        </a>
                    </td>
                }
                else
                {
                    <td>@supervisor.SupervisorModel.Id</td>
                }
                @{connectStatus = supervisor.SupervisorModel.Connected == true ? "Connected" : "Disconnected";}
                <td>
                    @connectStatus
                </td>
                <td>
                    <input type="checkbox" @bind="@supervisor.ScanStatus" @onclick="@(() => SetScan(supervisor, true,
                                                                                                    supervisor.SupervisorModel.DiscoveryConfig?.AddressRangesToScan,
                                                                                                    supervisor.SupervisorModel.DiscoveryConfig?.PortRangesToScan))" />
                    @{string output = supervisor.ScanStatus == true ?  "On" : "Off";}
                    @output
                    @if (supervisor.IsSearching)
                    {
                        <div class=" pos-right loader"></div>
                    }
                    else
                    {
                        <div class=" pos-right"></div>
                    }
                </td>
                <td>
                    @{string portOutput = supervisor.SupervisorModel.DiscoveryConfig?.AddressRangesToScan == null ? "Default" : supervisor.SupervisorModel.DiscoveryConfig.AddressRangesToScan;}
                    <a href="javascript: void(0)" @onclick="@(() => OpenDrawer(supervisor))">
                        @portOutput
                    </a>
                </td>
                <td>
                    @{string scanOutput = supervisor.SupervisorModel.DiscoveryConfig?.PortRangesToScan == null ? "Default" : supervisor.SupervisorModel.DiscoveryConfig.PortRangesToScan;}
                    <a href="javascript: void(0)" @onclick="@(() => OpenDrawer(supervisor))">
                        @scanOutput
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="results @_scanResult"> Scan Results:
    <div class="events">
        @_eventResult
    </div>
</div>

<Drawer HeaderText="Scan IP address range" ObjectData="@SupervisorData" IsOpened="@IsOpened" CloseDrawer="@(() => CloseDrawer())">
    <div class="drawer-content list-group">
        <div class="list-group-item text-justify list-group-item-heading">
            <b>Enter address range to scan.</b>
            <br><b>To apply default config leave the input field blank and click on apply</b>
        </div>
        <hr />
        <div class="list-group-item text-left">
            <form>
                <div class="form-group">
                    <label>Mask address range (CIDR notation)</label>
                    <input @bind="@IpMask" aria-label="addressRange" id="ipAddressMask" type="text" class="form-control" placeholder="IP-address/netmask" />
                </div>
                <div class="form-group">
                    <label>Port range</label>
                    <input @bind-value="@PortRange" aria-label="portRange" id="PortRange" type="text" class="form-control" placeholder="StartPort-EndPort" />
                </div>
                <hr />
                <div>
                    <button @onclick="@(() => SetScan(SupervisorData, true, IpMask, PortRange))" type="button" class="btn btn-primary">Apply</button>
                </div>
            </form>
        </div>
    </div>
</Drawer>

<Pager Result=@supervisorList PageChanged=@((Page) => PagerPageChanged(Page)) />


@code {

    [Parameter]
    public string Page { get; set; } = "1";

    public bool IsSearching { get; set; } = false;
    public bool IsOpened { get; set; } = false;
    public SupervisorInfo SupervisorData { get; set; }
    public string IpMask { get; set; }
    public string PortRange { get; set; }
    public PagedResult<SupervisorInfo> supervisorList = new PagedResult<SupervisorInfo>();
    public PagedResult<SupervisorInfo> pagedSupervisorList = new PagedResult<SupervisorInfo>();
    public const int PageLength = 10;
    private string _eventResult { get; set; }
    private string _scanResult { get; set; } = "hidden";


    /// <summary>
    /// Notify page change
    /// </summary>
    /// <param name="page"></param>
    /// <returns></returns>
    public void PagerPageChanged(int page)
    {
        pagedSupervisorList = supervisorList.GetPaged(page, PageLength);
        NavigationManager.NavigateTo("/supervisors/" + page);
    }

    /// <summary>
    /// OnInitializedAsync
    /// </summary>
    protected override async Task OnInitializedAsync()
    {
        supervisorList = await RegistryHelper.GetSupervisorListAsync();
        Page = "1";
        pagedSupervisorList = supervisorList.GetPaged(Int32.Parse(Page), PageLength);
    }

    /// <summary>
    /// Enable supervisor scan 
    /// </summary>
    /// <param name="supervisor"></param>
    /// /// <param name="forceScan"></param>
    /// /// <param name="ipMask"></param>
    /// /// <param name="portRange"></param>
    private async Task SetScan(SupervisorInfo supervisor, bool forceScan, string ipMask = null, string portRange = null)
    {
        var discovery = await RegistryServiceEvents.SubscribeDiscoveryProgressBySupervisorsIdAsync(
                supervisor.SupervisorModel.Id, null, ScanProgress);

        try
        {
            _eventResult = string.Empty;
            await RegistryHelper.SetScanAsync(supervisor, ipMask, portRange, forceScan);
        }
        catch
        {
            await discovery.DisposeAsync();
        }

        if (supervisor.ScanStatus == true)
        {
            supervisor.IsSearching = true;
            _scanResult = "visible";
            SupervisorData = supervisor;
        }
        else
        {
            await discovery.DisposeAsync();
            _scanResult = "hidden";
        }
    }

    /// <summary>
    /// Open then Drawer
    /// </summary>
    /// <param name="OpenDrawer"></param>
    private void OpenDrawer(SupervisorInfo supervisor)
    {
        IsOpened = true;
        SupervisorData = supervisor;
    }

    /// <summary>
    /// Close the Drawer
    /// </summary>
    private void CloseDrawer()
    {
        IsOpened = false;
        this.StateHasChanged();
    }

    /// <summary>
    /// display supervisors scan events  
    /// </summary>
    /// <param name="ev"></param>
    private Task ScanProgress(DiscoveryProgressApiModel ev)
    {
        switch (ev.EventType) {
            case DiscoveryProgressType.Pending:
                _eventResult += string.Format("{0}: {1} waiting...", ev.SupervisorId, ev.Total) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.Started:
                _eventResult += string.Format("{0}: Started.", ev.SupervisorId) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.NetworkScanStarted:
                _eventResult += string.Format("{0}: Scanning network...", ev.SupervisorId) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.NetworkScanResult:
                _eventResult += string.Format("{0}: {1}/{2}: {3} addresses found - NEW: {4}...", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered, ev.Result) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.NetworkScanProgress:
                _eventResult += string.Format("{0}: {1}/{2}: {3} addresses found", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.NetworkScanFinished:
                _eventResult += string.Format("{0}: {1}/{2}: {3} addresses found - complete!", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.PortScanStarted:
                _eventResult += string.Format("{0}: Scanning ports...", ev.SupervisorId) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.PortScanResult:
                _eventResult += string.Format("{0}: {1}/{2}: {3} ports found - NEW: {4}", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered, ev.Result) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.PortScanProgress:
                _eventResult += string.Format("{0}: {1}/{2}: {3} ports found", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.PortScanFinished:
                _eventResult += string.Format("{0}: {1}/{2}: {3} ports found - complete!", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.ServerDiscoveryStarted:
                _eventResult += "==========================================" + System.Environment.NewLine;
                _eventResult += string.Format("{0}: {1}/{2}: Finding servers...", ev.SupervisorId, ev.Progress, ev.Total) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.EndpointsDiscoveryStarted:
                _eventResult += string.Format("{0}: {1}/{2}: ... {3} servers found - find endpoints on {4}...", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered, ((dynamic)ev.RequestDetails).url) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.EndpointsDiscoveryFinished:
                _eventResult += string.Format("{0}: {1}/{2}: ... {3} servers found - {4} endpoints found on {5}...", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered, ev.Result, ((dynamic)ev.RequestDetails).url) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.ServerDiscoveryFinished:
                _eventResult += string.Format("{0}: {1}/{2}: ... {3} servers found.", ev.SupervisorId, ev.Progress, ev.Total, ev.Discovered) + System.Environment.NewLine;
                break;
            case DiscoveryProgressType.Cancelled:
                _eventResult += "==========================================" + System.Environment.NewLine;
                _eventResult += string.Format("{0}: Cancelled.", ev.SupervisorId) + System.Environment.NewLine;
                SupervisorData.IsSearching = false;
                break;
            case DiscoveryProgressType.Error:
                _eventResult += "==========================================" + System.Environment.NewLine;
                _eventResult += string.Format("{0}: Failure.", ev.SupervisorId) + System.Environment.NewLine;
                SupervisorData.IsSearching = false;
                break;
            case DiscoveryProgressType.Finished:
                _eventResult += "==========================================" + System.Environment.NewLine;
                _eventResult += string.Format("{0}: Completed.", ev.SupervisorId) + System.Environment.NewLine;
                SupervisorData.IsSearching = false;
                break;
        }
        StateHasChanged();
        return Task.CompletedTask;
    }
}
