@page "/supervisors"
@page "/supervisors/{page}"

@using Microsoft.AspNetCore.Components;
@using Microsoft.Azure.IIoT.App.Services
@using Microsoft.Azure.IIoT.App.Components.Pager
@using Microsoft.Azure.IIoT.App.Components.Drawer
@using Microsoft.Azure.IIoT.App.Components.ErrorMessage
@using Microsoft.Azure.IIoT.App.Data
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry.Models
@using Microsoft.Azure.IIoT.OpcUa.Api.Registry
@using Microsoft.Azure.IIoT.App.Common

@inject NavigationManager NavigationManager
@inject Registry RegistryHelper
@inject RegistryServiceEvents RegistryServiceEvents
@inject UICommon CommonHelper

@implements IDisposable

<h1>Twin Modules</h1>

<table class="table @_tableView">
    <thead>
        <tr>
            <th>Id</th>
            <th>Site Id</th>
            <th>Connection Status</th>
            <th>Sync Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supervisor in _pagedsupervisorList.Results)
        {
            <tr>
                <td>
                    <a href='endpoints/@RegistryHelper.PathAll/@RegistryHelper.PathAll/@supervisor.Id/@RegistryHelper.PathAll'>
                        @supervisor.Id
                    </a>
                </td>
                @{string siteId = supervisor.SiteId == null ? CommonHelper.None : supervisor.SiteId;}
                <td>
                    @siteId
                </td>
                @{string connectStatus = supervisor.Connected == null ? CommonHelper.None : supervisor.Connected == true ? "Connected" : "Disconnected";}
                <td>
                    @connectStatus
                </td>
                @{string syncStatus = supervisor.OutOfSync == null ? CommonHelper.None : supervisor.OutOfSync == true ? "Out of Sync" : "Synced";}
                <td>
                    @syncStatus
                </td>
                <td>
                    <a class="ellipsis-space" href="javascript: void(0)" @onclick="@(() => OpenDrawer(supervisor.Id))">More Data</a>
                </td>
                <td>
                    <button @onclick="@(() => ResetSupervisorUIAsync(supervisor.Id))" class="btn btn-primary">Reset</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<Drawer HeaderText="Twin Module Status" ObjectData="@SupervisorId" IsOpened="@IsOpened" CloseDrawer="@(() => CloseDrawer())">
    <_DrawerSupervisorContent SupervisorId="@SupervisorId"></_DrawerSupervisorContent>
</Drawer>

<ErrorMessage PageError="@_pagedsupervisorList.Error" Status="@null"></ErrorMessage>

<Pager Result=@_supervisorList PageChanged=@((Page) => PagerPageChanged(Page)) />

<div class="loader-pos @CommonHelper.Spinner"></div>

@code {

    [Parameter]
    public string Page { get; set; } = "1";

    public string Status { get; set; }
    public bool IsOpened { get; set; } = false;
    public string SupervisorId { get; set; }
    private PagedResult<SupervisorApiModel> _supervisorList =
        new PagedResult<SupervisorApiModel>();
    private PagedResult<SupervisorApiModel> _pagedsupervisorList =
        new PagedResult<SupervisorApiModel>();
    private IAsyncDisposable _supervisorEvent { get; set; }
    private string _tableView { get; set; } = "visible";

    /// <summary>
    /// Notify page change
    /// </summary>
    /// <param name="page"></param>
    public void PagerPageChanged(int page)
    {
        CommonHelper.Spinner = "loader-big";
        StateHasChanged();
        _supervisorList = CommonHelper.UpdatePage(RegistryHelper.GetSupervisorListAsync, page, _supervisorList, ref _pagedsupervisorList);
        CommonHelper.Spinner = string.Empty;
        StateHasChanged();
    }

    /// <summary>
    /// OnInitialized
    /// </summary>
    protected override void OnInitialized()
    {
        CommonHelper.Spinner = "loader-big";
    }

    /// <summary>
    /// OnAfterRenderAsync
    /// </summary>
    /// <param name="firstRender"></param>
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await UpdateSupervisorAsync();
            CommonHelper.Spinner = string.Empty;
            if (_pagedsupervisorList.Error != null)
            {
                _tableView = "hidden";
            }
            StateHasChanged();

            _supervisorEvent = await RegistryServiceEvents.SubscribeSupervisorEventsAsync(
                async data =>
                {
                    await InvokeAsync(() => SupervisorEvent(data));
                });
        }
    }

    // <summary>
    /// Open then Drawer
    /// </summary>
    /// <param name="OpenDrawer"></param>
    private void OpenDrawer(string supervisorId)
    {
        IsOpened = true;
        SupervisorId = supervisorId;
    }

    /// <summary>
    /// Close the Drawer
    /// </summary>
    private void CloseDrawer()
    {
        IsOpened = false;
        this.StateHasChanged();
    }

    /// <summary>
    /// Reset Supervisor
    /// </summary>
    /// <param name="supervisorId"></param>
    private async Task ResetSupervisorUIAsync(string supervisorId)
    {
        Status = await RegistryHelper.ResetSupervisorAsync(supervisorId);
    }

    /// <summary>
    /// action on Supervisor Event
    /// </summary>
    /// <param name="ev"></param>
    private Task SupervisorEvent(SupervisorEventApiModel ev)
    {
        _supervisorList.Results.Update(ev);
        _pagedsupervisorList = _supervisorList.GetPaged(Int32.Parse(Page), CommonHelper.PageLength, _supervisorList.Error);
        StateHasChanged();
        return Task.CompletedTask;
    }

    /// <summary>
    /// Update Supervisor list
    /// </summary>
    private async Task UpdateSupervisorAsync()
    {
        _supervisorList = await RegistryHelper.GetSupervisorListAsync();
        Page = "1";
        _pagedsupervisorList = _supervisorList.GetPaged(Int32.Parse(Page), CommonHelper.PageLength, _supervisorList.Error);
        CommonHelper.Spinner = "";
    }

    /// <summary>
    /// Dispose
    /// </summary>
    public async void Dispose()
    {
        if (_supervisorEvent != null)
        {
            await _supervisorEvent.DisposeAsync();
        }
    }
}
