@model Microsoft.Azure.IIoT.OpcUa.Services.Vault.Api.Models.CertificateRequestRecordDetailsApiModel

<h2>View Certificate Request Details</h2>

<div>
    <h4>Certificate Request</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ApiModel.RequestId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApiModel.RequestId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApiModel.ApplicationId)
        </dt>

        <dd>
            @Html.ActionLink(Model.ApiModel.ApplicationId, "..\\Application\\Details", new { id = Model.ApiModel.ApplicationId })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApiModel.CertificateGroupId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApiModel.CertificateGroupId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApiModel.CertificateTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApiModel.CertificateTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApiModel.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApiModel.State)
        </dd>

        @if (Model.ApiModel.SubjectName != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ApiModel.SubjectName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApiModel.SubjectName)
            </dd>
        }

        @if (Model.ApiModel.PrivateKeyFormat != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ApiModel.PrivateKeyFormat)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApiModel.PrivateKeyFormat)
            </dd>
        }

    </dl>
</div>
@if (Model.OperationResult != null)
{
    <hr />
    <p>
        <h4>
            @Html.DisplayFor(model => model.OperationResult)
        </h4>
    </p>
    <hr />
}

<p>

    @if (Model.ApiModel.State == "New")
    {
        @Html.ActionLink("Approve", "Approve", new { id = Model.ApiModel.RequestId }/*,
            new { onclick = "return confirm('Do you really want to approve the request " + @Model.RequestId + "?')" }*/)
        @Html.Raw("&nbsp;|&nbsp;");
        @Html.ActionLink("Reject", "Reject", new { id = Model.ApiModel.RequestId }/*,
            new { onclick = "return confirm('Do you really want to reject the request " + @Model.RequestId + "?')" }*/)
        @Html.Raw("&nbsp;|&nbsp;");
    }
    @if (Model.ApiModel.State == "Approved" /*|| Model.State == "Accepted"*/)
    {
        @Html.ActionLink("Certificate", "DownloadCertificate", new { requestId = Model.ApiModel.RequestId, applicationId = Model.ApiModel.ApplicationId })
        @Html.Raw("&nbsp;|&nbsp;");
        @Html.ActionLink("Issuer", "DownloadIssuer", new { requestId = Model.ApiModel.RequestId })
        @Html.Raw("&nbsp;|&nbsp;");
        @Html.ActionLink("Crl", "DownloadIssuerCrl", new { requestId = Model.ApiModel.RequestId })
        @Html.Raw("&nbsp;|&nbsp;");
    }
    @if (Model.ApiModel.State == "Approved")
    {
        @if (!String.IsNullOrEmpty(Model.ApiModel.PrivateKeyFormat))
        {
            @Html.ActionLink("PrivateKey", "DownloadPrivateKey", new { requestId = Model.ApiModel.RequestId, applicationId = Model.ApiModel.ApplicationId })
            @Html.Raw("&nbsp;|&nbsp;");
        }
        @Html.ActionLink("Accept", "Accept", new { id = Model.ApiModel.RequestId })
        @Html.Raw("&nbsp;|&nbsp;");
    }
    @Html.ActionLink("Back to List", "Index")
</p>
