@model Microsoft.Azure.IIoT.OpcUa.Services.Vault.App.Models.CertificateDetailsApiModel

<h2>View Certificate @ViewData["Title"] Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issuer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issuer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbprint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbprint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NotAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NotAfter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EncodedBase64)
        </dt>

        <dd>
            <kbd>
                @Html.TextAreaFor(model => model.EncodedBase64, 20, 100, htmlAttributes: new { @class = "col-md-10", @readonly = "readonly" })
            </kbd>
        </dd>
    </dl>
</div>

<div>
    <hr />
    <a href="javascript:history.go(-1)">Back</a>
</div>
