@model Microsoft.Azure.IIoT.OpcUa.Api.Vault.Models.ApplicationRecordApiModel

@{
    ViewBag.Title = "Certomat";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<string> AppTypes = new List<string>() { "Server", "Client", "ClientAndServer", "DiscoveryServer" };
}

<h2>Request New Certificate for OPC UA Application</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => AppTypes[(int)Model.ApplicationType])
        </dd>

        @if (Model.DiscoveryUrls != null)
        {
            @for (int i = 0; i < Model.DiscoveryUrls.Count(); i++)
            {
                <dt>
                    @if (i == 0)
                    {
                        @Html.DisplayNameFor(model => model.DiscoveryUrls)
                    }
                </dt>

                <dd>
                    @Html.DisplayFor(model => Model.DiscoveryUrls[i])
                </dd>
            }
        }
    </dl>
</div>
@if (ViewData["Message"] != null)
{
    <div class="alert alert-danger">
        <h4>@ViewData["Message"]</h4>
    </div>
}
else
{
    <div class="col-md-12">
        @Html.ActionLink("Request new KeyPair and Certificate", "StartNewKeyPair", new { id = Model.ApplicationId }, new { @class = "btn btn-default" })
        @Html.ActionLink("Request new Certificate with Signing Request", "StartSigning", new { id = Model.ApplicationId }, new { @class = "btn btn-default" })
    </div>
}

<div class="col-md-12">
    <hr />
    <img src="~/images/opcvaultflowstep2.svg" alt="OpcVault Request" class="img-responsive" />
    <hr />
    @Html.ActionLink("Back to Register New", "Register", routeValues: new { id = "" })
    <hr />
</div>

