@model Microsoft.Azure.IIoT.OpcUa.Api.Vault.Models.CertificateGroupConfigurationApiModel

<h2>View Certificate Group Details</h2>

<div>
    <h4>Certificate Group</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultCertificateLifetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultCertificateLifetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultCertificateKeySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultCertificateKeySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefaultCertificateHashSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefaultCertificateHashSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerCACertificateLifetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerCACertificateLifetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerCACertificateKeySize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerCACertificateKeySize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssuerCACertificateHashSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssuerCACertificateHashSize)
        </dd>

    </dl>
</div>

@if (ViewData["SuccessMessage"] != null)
{
    <hr />
    <div class="alert alert-success">
        <h4>@ViewData["SuccessMessage"]</h4>
    </div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <hr />
    <div class="alert alert-warning">
        <h4>@ViewData["ErrorMessage"]</h4>
    </div>
}
else
{
    <hr />
    <dl class="dl-horizontal">
        <dt>Download Certificate</dt>
        <dd>
            @Html.ActionLink("Issuer", "DownloadIssuer", new { id = Model.Name }, new { @class = "btn btn-default" })
            @Html.ActionLink("Crl", "DownloadIssuerCrl", new { id = Model.Name }, new { @class = "btn btn-default" })
        </dd>
        <dt>Download as Base64</dt>
        <dd>
            @Html.ActionLink("Issuer", "DownloadIssuerBase64", "CertificateRequest", new { groupId = Model.Name }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Crl", "DownloadIssuerCrlBase64", "CertificateRequest", new { groupId = Model.Name }, htmlAttributes: new { @class = "btn btn-default" })
        </dd>
    </dl>
    <hr />
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Name }, new { @class = "btn btn-default" })
        @Html.ActionLink("Issuer Certificate Details", "IssuerDetails", new { id = Model.Name }, new { @class = "btn btn-default" })
    </div>
    <hr />
    <div>
        @Html.ActionLink("Renew CA Certificate", "Renew", new { id = Model.Name },
                    new
                    {
                        @class = "btn btn-warning",
                        onclick = "return confirm('Do you really want to renew the CA certificate for group " + Model.Name + "?')"
                    })
        @Html.ActionLink("Update Cert Revocation List (CRL)", "Revoke", new { id = Model.Name },
                    new { @class = "btn btn-warning" })
    </div>
}
<div>
    <hr />
    @Html.ActionLink("Back to List", "Index")
</div>
