@model IEnumerable<Microsoft.Azure.IIoT.OpcUa.Api.Vault.Models.CertificateGroupConfigurationApiModel>

@{
    ViewBag.Title = "CertificateGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Certificate Groups</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CertificateType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectName)
        </th>
        <th></th>
    </tr>

    @foreach (var group in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(group.Name, "Details", new { id = group.Name })
            </td>
            <td>
                @Html.DisplayFor(groupItem => group.CertificateType)
            </td>
            <td>
                @Html.DisplayFor(groupItem => group.SubjectName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = group.Name }) |
                @Html.ActionLink("Edit", "Edit", new { id = group.Name })
            </td>
        </tr>
    }
    <tr>
        <th />
        <th />
        <th />
        <th />
    </tr>
</table>

@if (ViewData["ErrorMessage"] != null)
{
    <hr />
    <div class="alert alert-warning">
        <h4>@ViewData["ErrorMessage"]</h4>
    </div>
    <hr />
}

@if (ViewData["SuccessMessage"] != null)
{
    <hr />
    <div class="alert alert-success">
        <h4>@ViewData["SuccessMessage"]</h4>
    </div>
    <hr />
}

<p>
</p>
