@model Microsoft.Azure.IIoT.OpcUa.Services.Vault.App.Models.CertificateDetailsCollectionApiModel

<h2>View Certificate @Html.DisplayFor(model => model.Name) Details</h2>

<div>
    <h4>
        Certificate Details
    </h4>
    @foreach (var cert in Model.Certificates)
    {

        <hr />
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => cert.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => cert.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => cert.Issuer)
            </dt>

            <dd>
                @Html.DisplayFor(model => cert.Issuer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => cert.Thumbprint)
            </dt>

            <dd>
                @Html.DisplayFor(model => cert.Thumbprint)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => cert.SerialNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => cert.SerialNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => cert.NotBefore)
            </dt>

            <dd>
                @Html.DisplayFor(model => cert.NotBefore)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => cert.NotAfter)
            </dt>

            <dd>
                @Html.DisplayFor(model => cert.NotAfter)
            </dd>

        </dl>
    }
</div>

@if (ViewData["SuccessMessage"] != null)
{
    <hr />
    <div class="alert alert-success">
        <h4>@ViewData["SuccessMessage"]</h4>
    </div>
}

@if (ViewData["ErrorMessage"] != null)
{
    <hr />
    <div class="alert alert-warning">
        <h4>@ViewData["ErrorMessage"]</h4>
    </div>
}
else
{
    <hr />
    <dl class="dl-horizontal">
        <dt>Download Certificate</dt>
        <dd>
            @Html.ActionLink("Issuer", "DownloadIssuer", new { id = Model.Name }, new { @class = "btn btn-default" })
            @Html.ActionLink("Crl", "DownloadIssuerCrl", new { id = Model.Name }, new { @class = "btn btn-default" })
        </dd>
        <dt>Download as Base64</dt>
        <dd>
            @Html.ActionLink("Issuer", "DownloadIssuerBase64", "CertificateRequest", new { groupId = Model.Name }, htmlAttributes: new { @class = "btn btn-default" })
            @Html.ActionLink("Crl", "DownloadIssuerCrlBase64", "CertificateRequest", new { groupId = Model.Name }, htmlAttributes: new { @class = "btn btn-default" })
        </dd>
    </dl>
    <hr />
    <div>
        @Html.ActionLink("Renew CA Certificate", "Renew", new { id = Model.Name },
                    new
                    {
                        @class = "btn btn-warning",
                        onclick = "return confirm('Do you really want to renew the CA certificate for group " + Model.Name + "?')"
                    })
    </div>
}
<div>
    <hr />
    @Html.ActionLink("Back to Certificate Group Details", "Details", new { id = Model.Name })
</div>
