@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="container-fluid browser_error_container">
    <div class="row browser_error_header">
        <div class="browser_error_header_text overflow">@Resources.BrowserOpcErrorHeader</div>
    </div>
    <div class="row browser_top_container">
        <div class="col-xs-12">
            <div class="row browser_error_details_container">
                <div class="row browser_error_details_line">
                    <span class="browser_error_details_label">@Resources.BrowserErrorServer</span>
                    <div class="browser_error_details_info">@Model.EndpointId</div>
                </div>
                <div class="row browser_error_details_line">
                    <span class="browser_error_details_label">@Resources.BrowserErrorMessage</span>
                    <div class="browser_error_details_info">@Html.Raw(Model.ErrorMessage)</div>
                </div>
            </div>
            <div class="row browser_error_disconnect_button">
                @using (Html.BeginForm("Disconnect", "Endpoints")) {
                    @Html.AntiForgeryToken();
                    <input class="btn btn-default btn_browser browser_browse_disconnect_btn" type="submit" value=@Resources.BrowserErrorContinueButton />
                }
            </div>
        </div>
    </div>
</div>
<script>
    var title = "@Resources.TitleBrowser";
</script>
