@model Microsoft.Azure.IIoT.OpcUa.Api.Vault.Models.ApplicationRecordApiModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete an Application</h2>

<h3>Are you sure you want to delete this OPC UA Application?</h3>
<h4>All certificate requests of this Application will be deleted.</h4>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationNames)
        </dt>

        @foreach (var applicationName in Model.ApplicationNames)
        {
            <dd>
                @Html.DisplayFor(model => applicationName.Text)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.DiscoveryUrls)
        </dt>

        @foreach (var discoveryUrl in Model.DiscoveryUrls)
        {
            <dd>
                @Html.DisplayFor(model => discoveryUrl)
            </dd>
        }


        <dt>
            @Html.DisplayNameFor(model => model.ServerCapabilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerCapabilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GatewayServerUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatewayServerUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscoveryProfileUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscoveryProfileUri)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
