@model Microsoft.Azure.IIoT.OpcUa.Api.Vault.Models.ApplicationRecordApiModel

@{
    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<string> AppTypes = new List<string>() { "Server", "Client", "ClientAndServer", "DiscoveryServer" };
}

<h2>View Application Details</h2>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => AppTypes[(int)Model.ApplicationType])
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUri)
        </dd>
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationNames)
        </dt>

        @foreach (var applicationName in Model.ApplicationNames)
        {
            <dd>
                @Html.DisplayFor(model => applicationName.Text)
            </dd>
        }
        -->
        @if (Model.DiscoveryUrls != null)
        {

            <dt>
                @Html.DisplayNameFor(model => model.DiscoveryUrls)
            </dt>

            @foreach (var discoveryUrl in Model.DiscoveryUrls)
            {
                <dd>
                    @Html.DisplayFor(model => discoveryUrl)
                </dd>
            }
        }
        @if (Model.ServerCapabilities != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ServerCapabilities)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServerCapabilities)
            </dd>
        }
        <!--
                <dt>
                    @Html.DisplayNameFor(model => model.GatewayServerUri)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GatewayServerUri)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DiscoveryProfileUri)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DiscoveryProfileUri)
                </dd>
        -->
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "..\\Certomat\\Register", new { id = Model.ApplicationId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Unregister", "Unregister", new { id = Model.ApplicationId }, new { @class = "btn btn-default" })
    @Html.ActionLink("Request New Certificate", "..\\Certomat\\Request", new { id = Model.ApplicationId }, new { @class = "btn btn-default" })
</p>
<p>
    <hr />
    @Html.ActionLink("Back to List", "Index")
</p>
