@model IEnumerable<Microsoft.Azure.IIoT.OpcUa.Services.Vault.App.Models.ApplicationRecordTrimmedApiModel>

@{
    ViewBag.Title = "List of Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Registered OPC UA Applications</h2>
<!--
<p>
    @Html.ActionLink("Register New", "Register")
</p>
-->
<table class="table">
    <tr>
        <!--
            <th>
                @Html.DisplayNameFor(model => model.ApplicationId)
            </th>
        -->
        <th>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <!--
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationId)
                </td>
            -->
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationNameTrimmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUriTrimmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.ActionLink("Edit", "Register", new { id = item.ApplicationId }/*, new { @class = "btn btn-default" }*/) |
                @Html.ActionLink("Details", "Details", new { id = item.ApplicationId })  |
                @Html.ActionLink("Unregister", "Unregister", new { id = item.ApplicationId }) |
                @Html.ActionLink("New Request", "Request", "CertificateRequest", new { id = item.ApplicationId })
                <!--
                    @Html.ActionLink("New KeyPair", "StartNewKeyPair", "CertificateRequest", new { id = item.ApplicationId }) |
                    @Html.ActionLink("New Certificate", "StartSigning", "CertificateRequest", new { id = item.ApplicationId })
                -->
            </td>
        </tr>
    }
    <tr>
        <th />
        <th />
        <th />
        <th />
    </tr>
</table>

@if (ViewData["ErrorMessage"] != null)
{
    <hr />
    <div class="alert alert-warning">
        <h4>@ViewData["ErrorMessage"]</h4>
    </div>
    <hr />
}

@if (ViewData["SuccessMessage"] != null)
{
    <hr />
    <div class="alert alert-success">
        <h4>@ViewData["SuccessMessage"]</h4>
    </div>
    <hr />
}

<p>
    <!--@Html.ActionLink("Register New", "Register")-->
</p>
