@model Microsoft.Azure.IIoT.OpcUa.Api.Vault.Models.ApplicationRecordApiModel

@{
    ViewBag.Title = "Unregister";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<string> AppTypes = new List<string>() { "Server", "Client", "ClientAndServer", "DiscoveryServer" };
}

<h2>Unregister an Application</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => AppTypes[(int)Model.ApplicationType])
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductUri)
        </dd>
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationNames)
        </dt>

        @foreach (var applicationName in Model.ApplicationNames)
        {
            <dd>
                @Html.DisplayFor(model => applicationName.Text)
            </dd>
        }
            -->
        @if (Model.DiscoveryUrls != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.DiscoveryUrls)
            </dt>

            @foreach (var discoveryUrl in Model.DiscoveryUrls)
            {
                <dd>
                    @Html.DisplayFor(model => discoveryUrl)
                </dd>
            }
        }
        @if (Model.ServerCapabilities != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ServerCapabilities)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServerCapabilities)
            </dd>
        }
        <!--
        <dt>
            @Html.DisplayNameFor(model => model.GatewayServerUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GatewayServerUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscoveryProfileUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscoveryProfileUri)
        </dd>
            -->
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <hr />
        <div class="alert alert-warning">
            <h3>Are you sure you want to unregister this OPC UA Application?</h3>
            <h4>All certificate requests of this Application will be deleted and revoked.</h4>
        </div>
        <hr />

        <div class="form-actions no-color">
            <input type="submit" value="Unregister" class="btn btn-danger" />
        </div>
    }
    <hr />
    @Html.ActionLink("Back to List", "Index", new { })

</div>
